@import "tailwindcss";

@layer base {
  body {
    font-family: 'Chakra Petch', monospace, sans-serif;
    user-select: none;
    background-color: #0d0e11;
  }
}

/* Retro CRT scanlines overlay optional subtle effect */
.crt-scanlines {
  background: linear-gradient(
    rgba(18, 16, 16, 0) 50%, 
    rgba(0, 0, 0, 0.25) 50%
  ), linear-gradient(
    90deg,
    rgba(255, 0, 0, 0.03),
    rgba(0, 255, 0, 0.01),
    rgba(0, 0, 255, 0.03)
  );
  background-size: 100% 3px, 6px 100%;
  pointer-events: none;
}
